# Victor Hugo Avila Felipe - A01794425

IBM: PY0101EN
Python for Data Science

It’s also interactive, object-oriented - Python 3

- first module: types, expressions, variables, strings and string operations.
- second :data structures, namely lists and tuples, sets and dictionaries.
Lists and tuples, are called compound data types and are one of the key types of data
structures in Python. Sets and dictionaries are types of collections.
- In the 3rd module we'll cover Python programming fundamentals, including conditions, branching,
loops, functions, and objects and classes. Specifically, you’ll learn about comparison
and logic operators, and the if, else, and elif statements, for and while loops, how
to use some of Python’s built-in functions, as well as how build your own functions, and
how to create objects and classes using object constructors and attributes.
- And finally, in the 4th module we'll show you how to work with data in Python.
Specifically, how to read and write with the open method, and how to load, work with, and
save data in pandas. 

 A statement or expression is an instruction
the computer will run or execute. 
The value in the parentheses is called the
argument.
If you are using a Jupiter notebook in this
course, you will see a small rectangle with the statement.
This is called a cell. 

11 - int
21.213 - float
"hello" - str
true - boolean

true - 1
False - 0
type("str")

type casting
float(2)
int(1.1)

operands 56 78569 46 78
operators  *- - /- // +

variables
my_variable = 1


Strings are sequences and, as such, have apply
methods that work on lists and tuples. Strings also have a second set of methods
that just work on strings. 

the method upper.
This method converts lower case characters to upper case characters.

In [1]:
print('Hello Python 101')

Hello Python 101

In [3]:
#Imprimir Hola mundo
print("Hello World")

Hello World

In [2]:
print("Hello\nWorld!")

Hello
World!

In [3]:
# print('Hello World!')

In [1]:
type(11)

int

In [2]:
type(21.45)

float

In [3]:
type("str")

str

In [10]:
float(2)

2.0

In [8]:
print(int("1"))

1

In [9]:
int("1")

1

In [11]:
bool(int("1"))

True

In [12]:
my_variable = 1

In [13]:
my_variable + 1

2

In [14]:
import sys
print(sys.version)

3.7.0 (default, Jun 28 2018, 13:15:42)
[GCC 7.2.0]

In [12]:
print("Hello, Python!")

Hello, Python!

In [16]:
print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

In [17]:
print("Hello, world!")

Hello, world!

In [18]:
type(12.0)

float

In [19]:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [22]:
type(float(2))

float

In [23]:
type(float(2))

float

In [24]:
type(6/2) # float

float

In [25]:
type(6//2)

int

In [26]:
6/2

3.0

In [27]:
160//60

2

In [28]:
total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [29]:
x = 3 + 2 * 2
x

7

In [30]:
y = (3 + 2) * 2
y

10

In [31]:
Letters="ABCDEFGHIJK"
Letters[0:4]

'ABCD'

In [32]:
Good="GsoAo+d"
Good[::2]

'Good'

In [33]:
"uppercase"
"uppercase".upper()

'UPPERCASE'

In [34]:
"0123456".find('1')

1

In [35]:
name = "Michael Jackson"
name.find('el')

5

In [36]:
name.find('Jasdfasdasdf')

-1

In [37]:
a = "1"
a

'1'

In [38]:
b = "2"
b

'2'

In [39]:
c = a + b
c

'12'

In [40]:
d = "ABCDEFG"
print(d[:3])

ABC

In [41]:
e = 'clocrkr1e1c1t'

In [42]:
print(e[::2])

correct

In [43]:
3 + 2 * 2

7

In [45]:
name = 'Lizz'
print(name[0:2])

Li

In [46]:
var = '01234567'

In [48]:
print(var[::2])

0246

In [49]:
'1'+'2'

'12'

In [50]:
myvar = 'hello'

In [51]:
myvar.upper

In [52]:
str.upper(myvar)

'HELLO'

In [53]:
myvar.upper()

'HELLO'

MODULE 2

Tuples are an ordered sequence.
Here is a Tuple “Ratings.”
Tuples are expressed as comma-separated elements within parentheses.
These are values inside the parentheses.
Tuple[1]

TUPLE
A = (0,1,2,3)
print(A)

Lists are also an ordered sequence.
Here is a list L. A list is represented with square brackets.
In many respects lists are like tuples, one key difference is they are mutable.

LIST
B=["a","b","c"]


Sets are a type of collection. This means that like lists and tuples, you
can input different python types. Unlike lists and tuples they are unordered.
This means sets do not record element position. Sets only have unique elements.
This means there is only one of a particular element in a set.


Dictionaries are a type of collection in Python.
If you recall, a list has integer indexes. These are like addresses.
A list also has elements. A dictionary has keys and values.
The key is analogous to the index, they are like addresses but they don’t have to be
integers. They are usually characters; the values are
similar to the elements in a list and contain information.

In [55]:
A=(0,1,2,3)

In [56]:
A

(0, 1, 2, 3)

In [57]:
print(A)

(0, 1, 2, 3)

In [58]:
A:[0,2]

In [60]:
A:[0,2]

In [61]:
A

(0, 1, 2, 3)

In [62]:
A[0:2]

(0, 1)

In [63]:
B=["a","b","c"]

In [64]:
B[0:2]

['a', 'b']

In [66]:
B=["a","b","c"]

In [68]:
B[1:]

['b', 'c']

In [69]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [71]:
len(genres_tuple)

8

In [72]:
genres_tuple[3]

'hard rock'

In [75]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [77]:
genres_tuple[0:3]

('pop', 'rock', 'soul')

In [79]:
genres_tuple[0:2]

('pop', 'rock')

In [81]:
genres_tuple[-1]

'disco'

In [82]:
genres_tuple.index("disco")

7

In [83]:
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

In [85]:
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [87]:
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [88]:
L[3:5]

['MJ', 1]

In [89]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [90]:
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [91]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [92]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [93]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [95]:
print('A[0]:', A[0])

A[0]: banana

In [96]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [97]:
 a_list = [1,'hello',[1,2,3],'True']

In [98]:
a

'1'

In [99]:
a_list[1]

'hello'

In [100]:
a_list[1:4]

['hello', [1, 2, 3], 'True']

In [101]:
A = [1, 'a'] 
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

In [102]:


S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [103]:
D = {'a':0,'b':1,'c':2}

In [104]:
D.values()

dict_values([0, 1, 2])

In [105]:
D = {'a':0,'b':1,'c':2}

In [106]:
D['b']

1

In [107]:
A = ('a','b','c')

In [109]:
A[1]

'b'

In [110]:
L.append(['a','b'])

In [111]:
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b'], ['a', 'b']]

In [112]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

In [113]:
Dict["D"]

(4, 4, 4)

MODULE 3

Comparison operations compare some value or operand, then, based on some condition they
produce a Boolean.
/=
<
>
>=


The inequality test uses an explanation mark preceding the equal sign, if two operands
are not equal, then the condition becomes true.
We can use a number line.
When the condition is true the corresponding numbers are marked in green and red for where
the condition is false.
                             i!=


Branching allows us to run different statements for a different input.
It's helpful to think of an “if statement” as a locked room:
If the statement is true, you can enter the room, and your program can run some predefined
task.
If the statement is false, your program will skip the task.

The “else statement” will run a different block of code, if the same condition is false.

The elif statement, short for “else if,” allows us to check additional conditions,
if the proceeding condition is false.
If the condition is true, the alternate expressions will be run.

Logic operations take Boolean values and produce different Boolean values.
The first operation is the not operator.
If the input is true, the result is a false.
Similarly, if the input is false, the result is a true.

QUESTION 1
1 point possible (ungraded)

Select the values of i that produces a True for the following:

In [5]:
i = 1
i!=0

True

In [6]:
i = 0
i!=0

False

In [7]:
i = -1
i!=0

True

In [8]:
i = 100000000
i!=0

True

 QUESTION 2
1 point possible (ungraded)

What is the output of the following:

In [10]:
x='a'

if(x!='a'):

    print("This is not a.")

else:

    print("This is a.")

This is a.

<h2 id="quiz">Quiz on Conditions</h2>
Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album <b>“Back in Black”</b> that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [11]:
rating = 8.5
if rating > 8:
    print ("This album is Amazing!")

This album is Amazing!

Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.

In [13]:
rating = 8.5
if rating > 8:
    print ("this album is amazing")
else:
    print ("this album is ok")

this album is amazing

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [14]:
album_year = 1979

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

This album came out in year 1979

LOOPS
The range function outputs an ordered sequence as a list “i”.
If the input is a positive integer, the output is a sequence; the sequence contains the same
number of elements as the input, but starts at zero.

Each element in the list is a string representing the color.
We want to change the name of the color in each element to white.
Each element in the list has the following index.
This is the syntax to perform a loop in Python. Notice the indent.
The range function generates a list. The code will simply repeat everything in
the indent 5 times. If you were to change the value to 6, it would
do it 6 times, however, the value of “i” is incremented by one each time.

ENUMERATE()

“While loops” are similar to “for loops”, but instead of executing a statement a set
number of times, a while loop will only run if a condition is met.

 QUESTION 1
1 point possible (ungraded)

What is the output of the following lines of code:

In [16]:
A=[3,4,5]

for a in A:

    print(a)

3
4
5

 QUESTION 2
1 point possible (ungraded)

What is the output of the following lines of code:

In [1]:
x=3

y=1

while(y!=x):

    print(y)
    y=y+1

1
2

<h2 id="loop">Loops</h2>
<h3 id="range">Range</h3>
Sometimes, you might want to repeat a given operation many times. Repeated executions like this are performed by <b>loops</b>. We will look at two types of loops, <code>for</code> loops and <code>while</code> loops.

Before we discuss loops lets discuss the <code>range</code> object. It is helpful to think of the range object as an ordered list. For now, let's look at the simplest case. If we would like to generate an object that contains elements ordered from 0 to 2 we simply use the following command:

In [3]:
# Use the range

range(3)

range(0, 3)

What is for loop?

The for loop enables you to execute a code block multiple times. For example, you would use this if you would like to print out every element in a list.
Let's try to use a for loop to print all the years presented in the list dates:

This can be done as follows:

In [4]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

<h3 id="while">What is <code>while</code> loop?</h3>

As you can see, the <code>for</code> loop is used for a controlled flow of repetition. However, what if we don't know when we want to stop the loop? What if we want to keep executing a code block until a certain condition is met? The <code>while</code> loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a **False** boolean value.

Let’s say we would like to iterate through list <code>dates</code> and stop at the year 1973, then print out the number of iterations. This can be done with the following block of code:

In [5]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

<h2 id="quiz">Quiz on Loops</h2>
Write a <code>for</code> loop the prints out all the element between <b>-5</b> and <b>5</b> using the range function.

In [6]:
for i in range(-4, 5):
    print(i)

-4
-3
-2
-1
0
1
2
3
4

Print the elements of the following list: <code>Genres=\[ 'rock', 'R\&B', 'Soundtrack', 'R\&B', 'soul', 'pop']</code>
Make sure you follow Python conventions.

In [7]:
Genres = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Genre in Genres:
    print(Genre)

rock
R&B
Soundtrack
R&B
soul
pop

Write a for loop that prints out the following list: <code>squares=\['red', 'yellow', 'green', 'purple', 'blue']</code>

In [8]:
squares=['red', 'yellow', 'green', 'purple', 'blue']
for square in squares:
    print(square)

red
yellow
green
purple
blue

Write a while loop to display the values of the Rating of an album playlist stored in the list <code>PlayListRatings</code>. If the score is less than 6, exit the loop. The list <code>PlayListRatings</code> is given by: <code>PlayListRatings = \[10, 9.5, 10, 8, 7.5, 5, 10, 10]</code>

In [9]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
Rating = PlayListRatings[0]
while(i < len(PlayListRatings) and Rating >= 6):
    print(Rating)
    i = i + 1 # This prints the value 10 only once 
    Rating = PlayListRatings[i]
    i = i + 1 #Try uncommenting the line and comment the previous i = i + 1, and see the difference, 10 value will get printed twice because when the loop starts it will print Rating and then with PlayListRatings[0], it will again assign the value 10 to Ratings.

10
9.5
8

Write a while loop to copy the strings <code>'orange'</code> of the list <code>squares</code> to the list <code>new_squares</code>. Stop and exit the loop if the value on the list is not <code>'orange'</code>:

In [10]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(i < len(squares) and squares[i] == 'orange'):
    new_squares.append(squares[i])
    i = i + 1
print (new_squares)

['orange', 'orange']

FUNCTIONS

Functions take some input then produce some output or change.
The function is just a piece of code you can reuse.
You can implement your own function, but in many cases, you use other people’s functions.

 QUESTION 1
1 point possible (ungraded)

What is the value of c after the following block of code is run ?

In [18]:
a=1

def add(b):

    return a+b

c = add(10)
print(c)

11

 QUESTION 2
1 point possible (ungraded)

What is the value of c after the following block of code is run with proper numerical input?

In [20]:
def f(*x):
    return sum(x)
c=f(c)
print(c)

11

Return the total of a variable amount of parameters.

<h3 id="content">What is a Function?</h3>
You can define functions to provide the required functionality. Here are simple rules to define a function in Python:

*   Functions blocks begin <code>def</code> followed by the function <code>name</code> and parentheses <code>()</code>.
*   There are input parameters or arguments that should be placed within these parentheses.
*   You can also define parameters inside these parentheses.
*   There is a body within every function that starts with a colon (<code>:</code>) and is indented.
*   You can also place documentation before the body.
*   The statement <code>return</code> exits a function, optionally passing back a value.

An example of a function that adds on to the parameter <code>a</code> prints and returns the output as <code>b</code>:

In [22]:
# First function example: Add 1 to a and store as b

def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

In [23]:
# Call the function add()

add(2)

2 if you add one 3

3

<h2>Quiz on Functions</h2>
Come up with a function that divides the first input by the second input:

In [ ]:
def div(a, b):
    return(a/b)

Use the function con for the following question.

In [24]:
# Use the con function for the following question

def con(a, b):
    return(a + b)

Can the <code>con</code> function we defined before be used to add two integers or strings?

In [25]:
con(2, 2)

4

Can the <code>con</code> function we defined before be used to concatenate lists or tuples?

In [26]:
con(['a', 1], ['b', 1])

['a', 1, 'b', 1]

OBJECTS AND CLASSES

QUESTION 1
1 point possible (ungraded)

Using the Class Car in the lab, create a Car object with the following attributes:

In [29]:
class Car(object):
    def __init__(self,make,model,color):
        self.make=make;
        self.model=model;
        self.color=color;
        self.owner_number=0 
    def car_info(self):
        print("make: ",self.make)
        print("model:", self.model)
        print("color:",self.color)
        print("number of owners:",self.owner_number)
    def sell(self):
        self.owner_number=self.owner_number+1
        
make="BMW"
model="M3"
color="red"
my_car = Car(make,model,color)
        
print(my_car)

<__main__.Car object at 0x7ff2945fcc50>

In [ ]:
make="Honda"

model="Accord"

color="blue"